# PEERSIM EXAMPLE iSEARCH

CYCLES 30
SIZE 500

TTL 3

random.seed 123456789

simulation.cycles CYCLES
simulation.shuffle

network.size SIZE

include.protocol search

protocol.search example.isearch.FloodProtocol
protocol.search.ttl TTL

init.0 peersim.dynamics.WireKOut
init.0.protocol search
init.0.k 12

init.1 example.isearch.SearchDataInitializer
init.1.protocol search
init.1.keywords 50
# init.1.query_nodes 20
# init.1.query_interval 0
init.1.max_queries 100

control.0 example.isearch.SearchObserver
control.0.protocol search
control.0.verbosity 1